@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;600;9ee8display=swap');
*{
    padding: 0;margin: 0;box-sizing: border-box;
}
.box{
    
    position: fixed;
    z-index: 2;
width: 100%;
height: 80px;
background-color: #043952;

/* background-color: rgb(4, 57, 82); */

font-family: Arial, Helvetica, sans-serif;


display: flex;
justify-content: space-between;
padding:0px 20px;
align-items: center;
}

#logo{
    margin-left: 20px;
    width: 65px;
    height: 65px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.main{
    width: 100%;
    height: 100vh;
    margin-top: 70px;
   
    background-image: url('images/bkb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imgbox{
   position: relative;
    width: 100%;
    height: 100%;
    
    
}
.imgbox img{
    
    position:relative;
    height: 350px;
    width: 350px;
    top:-126px;
   right: -900px;
   border-radius: 50%;
    
}

#R{display: block;
    position: relative;
    
    margin-left: 85px;
    padding-top: 60px;
font-size: 4em;
    font-weight: 900;
  color: rgb(53, 62, 97);
}
#ra{
    display: block;
    position: relative;
    
    margin-left: 85px;
    font-size: 4em;
    font-weight: 900;
    color: rgb(53, 62, 97);

}
h2{
    display: block;
    margin-left: 100px;
    font-size: 4em;
    font-weight: 700;
    color: rgb(71, 104, 104);
}
p{
    margin-left: 70px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(16, 16, 17);
    text-decoration: underline;
}
.multi{text-transform: uppercase;
    color: rgb(52, 161, 219);
    
}
.links{
    display: flex;
    list-style: none;
}
#linkedin{
    padding-right: 10px;
}
.icons a i{
    padding: 10px 20px;
    color: white;
    transition: ease-in-out;
    transition: 200ms;
    
}
.icons :hover{
    transform: scale(1.8);
   
    color: #a3cbea;
}/*.qual

{ position: relative;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    background-position: center;
   
    background-image: url('images/q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.0;


}*/
.q{
    display: flex;
   
   
    width: 100%;
    height: 100vh;
    
    

}
.qual

{ position: relative;
   
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    background-position: center;
   
    background-image: url('images/q.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    


}
.spec{

    width: 100%;
    height: 92vh;
    
    
    background-image: url('images/te.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#tech{
    padding-top: 160px;
    color: black;
    text-align: center;
    text-decoration: underline;
}
.spec .sp1
{ 
margin-top: 10px;
   
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   
}
.sp2{
    margin-left: 10%;
    width: 40%;
   height: 40%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.sbox{
    
    background-color: aliceblue;
    margin-top: 60px;
    position: relative;
    width: 275px;
    height: 300px;  
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 5px grey;
    transition: 300ms;
}
.sbox:hover{
    transform: scale(1.2);
}
.b{
   /* margin-top: 10px; */
    position: relative;
    width: 300px;
    height: 410px;  
    bottom: -90px;
    right: -900px;
    background-color: rgb(234, 223, 201);
    border-radius: 10%;
    
}
#quali{padding-top: 30px;
    text-align: center;
    font-size: 35px;
    font-family: Dancing Script;   
}
.para{margin: auto;
    padding: 10px 30px;
    text-align: center;
    color: rgb(83, 79, 79);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#s{
    width: 100%;
    height:95vh;
    background-image: url("images/po.jpg");
    background-size: cover;
   /* background-color: rgb(79, 144, 176);*/
    
}
#sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#s1{
    margin-left: 5%;
}
#s3{
    margin-right: 5%;
}
.bbox{
    width: 350px;
    height: 300px; 
    margin: 30px ;
    border-radius: 20%;
    background-color:white;
box-shadow: 5px 5px 5px grey;
transition: 300ms;
}
.bbox:hover{
    transform: scale(1.2);
}


#project{  margin-bottom: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;

}
#s1{
   background-image: url("images/park.jpg");
    background-repeat: no-repeat;
    background-size: contain;
   
}
#s2{background-image: url("images/citra.jpg");
    background-repeat: no-repeat;
    background-size: contain;}
#s3{background-image: url("images/mcq.jpg");
    background-repeat: no-repeat;
    background-size: contain;}

.imgs{
height: 60%;
width: 100%;


}

.text{
    padding-left: 10px;
    padding-right: 5px;
    
    text-align: center;
    margin-top: 65%;
  
}
#ct{text-align: center;
    

}
.new{
    padding-top: 5px;
}
#b1{
    background-image: url('https://p.kindpng.com/picc/s/358-3580594_web-designing-hd-png-download.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#b2{
    background-image: url('https://github.com/shristy9798/Portfolio/blob/main/images/datamining.jpg?raw=true');
    background-repeat: no-repeat;
    background-size:contain;
    
}
#b3{
    background-image: url('https://github.com/shristy9798/Portfolio/blob/main/images/database.jpg?raw=true');
    background-repeat: no-repeat;
    background-size:contain;
}
#b4{
    background-image: url('https://github.com/shristy9798/Portfolio/blob/main/images/bigdata.jpg?raw=true');
    background-repeat: no-repeat;
    background-size:contain;
}
#b5{
    background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/eb/e617b0eac911e6a564515a41c2bb16/hamming-cube-larger.png?auto=format%2Ccompress&dpr=1&w=330&h=330&fit=fill&q=25');
    background-repeat: no-repeat;
    background-size:contain;
}
#b6{
    background-image: url('https://thumbs.dreamstime.com/b/monitoring-information-retrieval-color-icon-vector-illustration-sign-isolated-symbol-225740607.jpg');
    background-repeat: no-repeat;
    background-size:contain;
}
#bott{
    text-align: center;
    margin-top: 95%;
}
